{% extends "auctions/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width:40px;">
                <h4>Listing : {{ listing.title }}</h4>
                <img src="{{ listing.image_url }}" style="width:90%;"/>
            </td>
            <td style="width: 60%;">
                <div>{{ listing.description }}</div>

                <form action="{% url 'bidding' listing.id %}" method="post">
                    {% csrf_token %}
                    <div></strong>Bid: </strong>$ <input type="number" min="{{ listing.price }}" step="0.01" name="bid" placeholder="{{ listing.price }}">
                        <input type="submit" class="btn btn-primary btn-sm"> </div>
                </form>

                <br>

                <div><strong>Category: </strong>{{ category }}</div>
                <div><strong>Listed by: </strong>{{ listing.user }}</div>

                <div class="checkbox" >
                    {% if watching %}
                        <a class="btn btn-success mb-2 btn-sm" href="{% url 'remove_watchlist' listing.id %}"> Remove from WatchList</a>
                    {% else %}
                        
                        <a class="btn btn-info mb-2 btn-sm" href="{% url 'add_watchlist' listing.id %}"> Add to WatchList</a>
                    {% endif %}
                </div>

                {% if is_owner %}
                    <a class="btn btn-danger" href="{% url 'closeBid' listing.id %}" role="button">Close bidding</a>
                {% else %}

                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<hr>

<form action="{% url 'listing' listing.id %}" method="post">
    {% csrf_token %}
    <h6>Add comment</h6>
    <textarea class="form-control" aria-label="With textarea" name="comment" style="width:40%; vertical-align: top;"></textarea>
    <input type="submit" class="btn btn-primary cmtBtn" >
</form>

<br> 
<h6>Comments</h6>
<ul style="list-style-type: none;">

    {% for comment in comments %}
    <div class="cmtList">
        <li>{{ comment }}</li>
    </div>
    {% endfor %}
</ul>

{% else %}
    <h6>Please login or create an account</h6>
{% endif %}
    <footer>
        <div class="footer text-center"> 
            <h5 >Thanks for visiting our Website</h5>
            <h6>&#169; by Auscode&#8482; </h6>
        </div>
    </footer>
{% endblock %} 
